https://github.com/cutie-di/1690303-mishka-22/commit/322296c749fb3a77669671bd805df93dda0ee642#:~:text=%40%40%20%2D1%2C3%20%2B1%2C5%20%40%40-,//%20Color%20//,-%24color%2Dbasic%2Dblack

/* здесь используйте глобальные переменные */
$color-basic-black: #000000;
$color-basic-white: #ffffff;
$color-text-description: #444444;
$color-page-background-grey: #f1f1f1;
$color-accent-green: #63d1bb;
$color-form-decoration-green: #62d1ba;
$color-kidtoys-background: #56c3b2;
$color-border-decoration-grey: #ececec;
$color-focus-green: #46c1ae;
$color-footer-decoration-line: #e5e5e5;
