.contacts {
  margin-bottom: 39px;
}

.contacts__wrapper {
  outline: 3px dotted rgb(172, 30, 30);
  outline-offset: -3px;

  @media ($desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.contacts__wrapper-info {
  @media ($mobile-width) {
    margin: 0 auto;
    padding: 0 30px;
  }

  @media ($tablet-width) {
    padding: 0 50px;
  }

  @media ($desktop-width) {
    width: 50%;
    flex-grow: 1;
    padding-left: 235px;
  }
}

.contacts__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $color-basic-black;
  text-align: left;
  
}

.contacts__table {
  margin: 0 30px 62px;
}

//.contacts__characteristics {}

.contacts__feature {
  font-family: inherit;
  font-weight: inherit;
  font-size: 14px;
  line-height: 30px;
  color: $color-text-description;
}

//.contacts__description {}

.contacts__value {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $color-text-description;
}

.contacts__map {
  margin-bottom: 42px;
}

.contacts__link {
  margin: 0 30px;
  padding: 16px 34px;
}
