.main-nav {
  margin: 0 auto;

  @media ($mobile-width) {
    max-width: 500px;
  }

  @media ($tablet-width) {
    padding: 0;
    max-width: 900px;
  }

  @media ($desktop-width) {
    max-width: 1150px;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  @media ($tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.main-nav__logo {
  text-align: center;
  box-shadow: 0 1px 0 $color-main-nav-decoration, inset 0 1px 0 $color-main-nav-decoration;
  padding: 22px 30px;
  padding-bottom: 19px;

  @media ($tablet-width) {
    text-align: start;
    width: 48%;
    box-shadow: 0 1px 0 $color-basic-black-opacity-01;
    padding-left: 50px;
    padding-right: 0;
    padding-bottom: 17px;
  }

  @media ($desktop-width) {
    text-align: start;
    width: 22%;
    padding: 0;
  }
}

.main-nav__logo img {
  width: 86px;
  height: 35px;

  @media ($tablet-width) {
    width: 113px;
    height: 46px;
  }

  @media ($desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 18px;
  right: 22px;
  z-index: 2;
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  padding: 0;
  padding-right: 30px;
  background-color: transparent;

  @media ($tablet-width) {
    display: none;
  }
}



.main-nav__delivery {
  @media ($mobile-width) {
    display: none;
  }
}
