.main-nav {
  margin: 0 auto;

  @media ($mobile-width) {
    max-width: 500px;
  }

  @media ($tablet-width) {
    padding: 0;
    max-width: 900px;
  }

  @media ($desktop-width) {
    max-width: 1150px;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  @media ($tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.main-nav__logo {
  text-align: center;
  box-shadow: 0 1px 0 $color-main-nav-decoration, inset 0 1px 0 $color-main-nav-decoration;
  padding: 22px 30px;
  padding-bottom: 19px;

  @media ($tablet-width) {
    text-align: start;
    width: 48%;
    
  }
}

.main-nav__delivery {
  @media ($mobile-width) {
    display: none;
  }
}
